<% include partials/header %>
<h1 style="text-align: center;">Edit Post</h1>
 <div class="container">
     <form action="/index/<%=id%>/edit" method="POST">
         <div class="form-group">
             <label for="posttext">Post Text</label>
             <input type="text" class="form-control" name="post" id="posttext" value="<%= post.title%>"
                 placeholder="Post Content">
         </div>
         <div class="form-group">
             <label for="url">Image Url</label>
             <input type="url" class="form-control" name="url" id="url" value="<%= post.url%>">
         </div>
         <div class="form-group form-check">
         </div>
         <button class="btn btn-lg btn-primary btn-block">Submit</button>
     </form>
     <a href="/" class="btn btn-lg btn-secondary btn-block">Cancel</a>
 </div>

 <% include partials/footer %>