<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Google Signin</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
  </script>
  <script>
    function start() {
      gapi.load('auth2', function () {
        auth2 = gapi.auth2.init({
          client_id: '1006331898993-1vnnh6u1s1ip87n1rdjs6kdmkm2p003s.apps.googleusercontent.com',
          data_approvalprompt: 'force'
          // Scopes to request in addition to 'profile' and 'email'
          //scope: 'additional_scope'
        });
      });
    }
  </script>
</head>

<body>
  <div id="signinButton">
    Sign in with Google
  </div>
  <br />
  <br />
  <div>Sign in with username</div>
  <form action="/login" method="POST">
    <input type="text" name="username" placeholder="usernane">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login">
  </form>

  <div id="result"></div>

  <script>
    $('#signinButton').click(function () {
      // signInCallback defined in step 6.
      auth2.grantOfflineAccess().then(signInCallback);
    });

    function signInCallback(authResult) {
      if (authResult['code']) {
        // Hide google plus sign in button
        $('#signinButton').attr('style', 'display: none');

        //Pass the one-time code into the server
        $.ajax({
          type: 'POST',
          url: '/gconnect?state={{STATE}}',
          processData: false,
          contentType: 'application/octet-stream; charset=utf-8',
          data: authResult['code'],
          success: function (result) {
            if (result) {
              $('#result').html('Loggin Sucessful! </br>' + result + '</br>Redirecting...');
              setTimeout(function () {
                window.location.href = "/";
              }, 4000);
            } else if (authResult['error']) {
              console.log('There was an error: ' + authResult['error'])
            } else {
              $('#result').html('Failed to make server side call. Cheack you configuration and console')
            }
          }
        })
      }
    }


  </script>
</body>

</html>